In [1]:
from pathlib import Path
import pandas as pd

ENGLISH_PATH = Path("/home/salkhon/Documents/thesis/data/images/english")

english_df = pd.read_csv(ENGLISH_PATH / "english.csv")

In [2]:
print("Num rows", len(english_df))

Num rows 1014653

In [3]:
english_df["ArticleId"].nunique()

320722

In [4]:
len(english_df[english_df["ArticleIdx"] == 0])

320722

In [5]:
# take 14k articles that have the first image as useful, 10k train, 2k dev, 2k test
first_useful_df = english_df[
    (english_df["ArticleIdx"] == 0) & (english_df["ImageStatus"] == "USEFUL")
]

In [6]:
print(len(first_useful_df))

288824

In [7]:
sample_df = first_useful_df.sample(n=14000, random_state=42)
print(len(sample_df))

14000

In [8]:
# dev_df = sample_df.sample(n=2000, random_state=42)
# sample_df = sample_df.drop(dev_df.index)
# print(len(sample_df), len(dev_df))

In [9]:
# test_df = sample_df.sample(n=2000, random_state=42)
# sample_df = sample_df.drop(test_df.index)
# print(len(sample_df), len(test_df))

In [10]:
# train_df = sample_df
# print(len(train_df))

In [11]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14000 entries, 625867 to 216068
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ImageId           14000 non-null  object
 1   ImageUrl          14000 non-null  object
 2   ArticleId         14000 non-null  object
 3   ArticleLang       14000 non-null  object
 4   ArticleIdx        14000 non-null  int64
 5   ArticleUrl        14000 non-null  object
 6   ImageStatus       14000 non-null  object
 7   ImagePath         14000 non-null  object
 8   ImageFileSize     14000 non-null  float64
 9   ImageFormat       14000 non-null  object
 10  ImageWidth        14000 non-null  float64
 11  ImageHeight       14000 non-null  float64
 12  ImageAspectRatio  14000 non-null  float64
dtypes: float64(4), int64(1), object(8)
memory usage: 1.5+ MB

In [12]:
sample_df.nunique()

ImageId             14000
ImageUrl            13801
ArticleId           14000
ArticleLang             1
ArticleIdx              1
ArticleUrl          14000
ImageStatus             1
ImagePath           14000
ImageFileSize       13198
ImageFormat             4
ImageWidth             87
ImageHeight           263
ImageAspectRatio      311
dtype: int64

In [13]:
# print(dev_df.info())
# print(dev_df.describe())
# print(dev_df.nunique())

Only sample unique Image URLS

In [14]:
print(len(first_useful_df))
first_useful_df = first_useful_df.sample(frac=1, random_state=42)  # shuffle
print(len(first_useful_df))

288824
288824

In [15]:
first_useful_df = first_useful_df.drop_duplicates(subset="ImageUrl", keep="first")

In [16]:
sample_df = first_useful_df.sample(n=14000, random_state=42)
print(len(sample_df))

14000

In [17]:
sample_df.nunique()

ImageId             14000
ImageUrl            14000
ArticleId           14000
ArticleLang             1
ArticleIdx              1
ArticleUrl          14000
ImageStatus             1
ImagePath           14000
ImageFileSize       13406
ImageFormat             4
ImageWidth             87
ImageHeight           274
ImageAspectRatio      348
dtype: int64

In [18]:
sample_df.head()

,ImageId,ImageUrl,ArticleId,ArticleLang,ArticleIdx,ArticleUrl,ImageStatus,ImagePath,ImageFileSize,ImageFormat,ImageWidth,ImageHeight,ImageAspectRatio
864690,uk-scotland-highlands-islands-53945413_0,https://c.files.bbci.co.uk/1184B/production/_1...,uk-scotland-highlands-islands-53945413,english,0,https://www.bbc.com/news/uk-scotland-highlands...,USEFUL,uk-scotland-highlands-islands-53945413/USEFUL/...,44879.0,JPEG,976.0,549.0,1.7778
1013797,business-50461302_0,https://c.files.bbci.co.uk/16528/production/_1...,business-50461302,english,0,https://www.bbc.com/news/business-50461302,USEFUL,business-50461302/USEFUL/_109323419_americanai...,73440.0,JPEG,976.0,549.0,1.7778
119273,uk-25078779_0,https://news.bbcimg.co.uk/media/images/7131500...,uk-25078779,english,0,https://www.bbc.com/news/uk-25078779,USEFUL,uk-25078779/USEFUL/_71315597_71315596.jpg,32117.0,JPEG,464.0,261.0,1.7778
453347,uk-45411941_0,https://c.files.bbci.co.uk/158C4/production/_1...,uk-45411941,english,0,https://www.bbc.com/news/uk-45411941,USEFUL,uk-45411941/USEFUL/_103206288_stonethrow.jpg,81427.0,JPEG,976.0,549.0,1.7778
133700,entertainment-arts-10659380_0,https://news.bbcimg.co.uk/media/images/4838100...,entertainment-arts-10659380,english,0,https://www.bbc.com/news/entertainment-arts-10...,USEFUL,entertainment-arts-10659380/USEFUL/_48381055_j...,12487.0,JPEG,304.0,171.0,1.7778

In [19]:
sample_df = sample_df.sort_index()
sample_df.head()

,ImageId,ImageUrl,ArticleId,ArticleLang,ArticleIdx,ArticleUrl,ImageStatus,ImagePath,ImageFileSize,ImageFormat,ImageWidth,ImageHeight,ImageAspectRatio
21,science-environment-36195167_0,https://c.files.bbci.co.uk/9720/production/_89...,science-environment-36195167,english,0,https://www.bbc.com/news/science-environment-3...,USEFUL,science-environment-36195167/USEFUL/_89588683_...,96652.0,JPEG,976.0,549.0,1.7778
33,uk-wales-48283792_0,https://c.files.bbci.co.uk/14CFF/production/_1...,uk-wales-48283792,english,0,https://www.bbc.com/news/uk-wales-48283792,USEFUL,uk-wales-48283792/USEFUL/_106974258_lauren.jpg,104914.0,JPEG,976.0,549.0,1.7778
61,uk-40645645_0,https://c.files.bbci.co.uk/13F8/production/_97...,uk-40645645,english,0,https://www.bbc.com/news/uk-40645645,USEFUL,uk-40645645/USEFUL/_97021150_ella2.jpg,74072.0,JPEG,640.0,640.0,1.0000
170,business-32618391_0,https://news.bbcimg.co.uk/media/images/8282100...,business-32618391,english,0,https://www.bbc.com/news/business-32618391,USEFUL,business-32618391/USEFUL/_82821348_82827687.jpg,63904.0,JPEG,624.0,351.0,1.7778
303,uk-40735851_0,https://c.files.bbci.co.uk/BB57/production/_97...,uk-40735851,english,0,https://www.bbc.com/news/uk-40735851,USEFUL,uk-40735851/USEFUL/_97095974_grenfellgettyimag...,144943.0,JPEG,976.0,549.0,1.7778

In [20]:
DEST_PATH = Path("/home/salkhon/Documents/thesis/english-sample/")

In [21]:
import shutil

for idx, row in sample_df.iterrows():
    src = Path(ENGLISH_PATH, row["ImagePath"])
    row["ImagePath"] = row["ImagePath"].replace("USEFUL/", "")
    dst = Path(DEST_PATH, row["ImagePath"])
    sample_df.at[idx, "ImagePath"] = row["ImagePath"]

    dst.parent.mkdir(parents=True, exist_ok=True)
    shutil.copy(src, dst)

In [ ]:
sample_df.to_csv(DEST_PATH/"mmxlsum-english-14k.csv", index=False)